
<div class="container latent-collection">
  <div class="title">
      <div class="left">☕ Latent Entities.</div><div class="right">N=<input type="number" [(ngModel)]=latentCount  step="1" min="5" max="10000" class="search"></div>
  </div>
  <div class="calc-btn" (click)="requestLatentEntities()">Calculate</div>
  <div class="latent-entity-collection">
    <svg #chart></svg>    
  </div>
</div>

<div class="container latent-collection">
  <div class="title">
      <div class="left">☕ Closest Entities.</div>
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr><td>Distance</td><td>Entity</td><td>Book</td></tr>
      <tr *ngFor="let e of closestEntities">
        <td class="">
          {{e.distance.toFixed(2)}}
        </td>
        <td class="">
           {{e.entity}}
        </td>
        <td class="">
          {{e.book}}
       </td>
      </tr>
    </table>
  </div>
</div>
