
div.entity-collection {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
}
table.entity-collection {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    tr {
        td {
            background: #eee;
            &:hover {
                background: #fff;
                transition: background-color 0.2s ease;                        
            }
        }
        background: #eee;
        &:hover {
            background: #fff;
            transition: background-color 0.2s ease;                        
        }
    }
}

.title {
    padding: 15px;
    margin: auto;
    font-family: 'Roboto', sans-serif;    
}
.container {
    padding: 5px;
    margin: 5px;    
    width: 20%;    
    float: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);        
    
}