div.flexi {
}
div.entity-collection {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    max-height: 400px;
    min-height: 400px;    
    overflow-x: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #222;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #666;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        
    }
}

td.add-to {
    float: right;
    color: #fff;
    background: #226622;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);        
    
}

div.visualisation {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    max-height: 400px;
    min-height: 400px;    
    overflow-x: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #222;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #666;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        
    }
}
.selected{
    transition: background-color 0.2s ease;    
    background: #ddd !important;
    color: #222 !important;
}
.row-btn {
    padding: 2px 5px;
}

input.search {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin-left: 10px;
    padding: 0px 10px;
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #226622;
    background: #222;
    color: #eee;
    transition: 0.2s;
    &:focus {
        outline: none;
        border-bottom: 2px solid #228822;
        transition: 0.2s;
    }
    .icon .bar {
        float: left;
    }
}

table.entity-collection {
    font-family: 'Roboto', sans-serif;
    width: 99%;
    border-collapse: collapse; 
    border-top: solid 1px #333;    
    tr {
        background: #222;
        border-bottom: solid 1px #333;   
        transition: background-color 0.2s ease;
        
        &:hover {
            background: #333;
            transition: background-color 0.2s ease;
                 
        }

        td.entity {
            padding-top: 5px;
            padding-bottom: 5px; 
            width:100%; 
        }
        td.add-to {
            margin-top: 2px;
            color: #fff;
            background: #226622;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
            transition: background-color 0.2s ease;
            text-align: center;                      
            &:hover {
                background: #224422;
                transition: background-color 0.2s ease;
                     
            }
        }

        td.remove-from {
            margin-top: 2px;
            color: #fff;
            background: #662222;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
            transition: background-color 0.2s ease;  
            text-align: center;          
            &:hover {
                background: #442222;
                transition: background-color 0.2s ease;
                     
            }
        }
    }
}

.title {
    font-size: 20px;
    padding: 10px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: #ddd;   
}
.container {
    float: left;    
    color: #ddd;
    background: #222;
    padding: 5px;
    margin: 5px;    
    width: 20%;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);        
    min-width: 400px;
}

.double {
    width : 40% !important;
    min-width: 820px;
}
