<div class="container">
  <div class="title">
    📚 Books
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let title of bookTitles" [ngClass]="(title==selectedBook)?'selected':''">
        <td (click)="requestEntities(title); requestTopics(title);" class="entity">
          {{title}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="title">
    🕮 Topics
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let topic of topics" >
        <td class="entity">
          {{topic.id}}
        </td>
        <td class="entity">
          {{topic.pct}}%
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="title">
    Distributions
  </div>
  <div class="entity-collection">
      <app-topic-models></app-topic-models>      
  </div>
</div>

<div class="container">
  <div class="title">
    👤 Entities
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let entity of entities" [ngClass]="(entity==selectedEntity)?'selected':''">
        <td class="entity" (click)="requestEntityTerms(entity)">
          {{entity}}
        </td>
        <td class="add-to" (click)="trackEntity(entity)">
          <div class="row-btn">+</div>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="title">
    📃 {{selectedEntity}}
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let term of terms">
        <td class="entity">
          {{term.term}}
        </td>
        <td class="entity">
            {{term.strength}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="title">
    📃 {{selectedEntity}} topic Distributions
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let topic of entityTopics">
        <td class="entity">
          Topic {{topic.topicID}}
        </td>
        <td class="entity">
          {{topic.pct}}%
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
    <div class="title">
      📃📃📃 Entity Comparisons
    </div>
    <div class="entity-collection">
      <table class="entity-collection">
        <tr>
          <td class="enitity">
            Entity
          </td>
          <td class="enitity no-wrap" *ngFor="let n of [0,1,2,3,4,5,6,7,8,9]">
            Topic {{n}}
          </td>
        </tr>
        <tr *ngFor="let entity of trackedEntities">
          <td class="entity no-wrap">
            {{entity.name}}
          </td>
          <td *ngFor="let topic of entity.topics"class="entity no-wrap">
            {{topic.pct}}
          </td>
        </tr>
      </table>
    </div>
  </div>

