<div class="container">
  <div class="title">
    📚 Books
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let title of bookTitles" [ngClass]="(title==selectedBook)?'selected':''">
        <td (click)="requestEntities(title); requestTopics(title);">
          {{title}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="title">
    🕮 Topics
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let topic of topics" >
        <td>
          {{topic.id}}
        </td>
        <td>
          {{topic.pct}}
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="container">
  <div class="title">
    👤 Entities
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let entity of entities" [ngClass]="(entity==selectedEntity)?'selected':''">
        <td (click)="requestEntityTerms(entity)">
          {{entity}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="container">
  <div class="title">
    📃 {{selectedEntity}}
  </div>
  <div class="entity-collection">
    <table class="entity-collection">
      <tr *ngFor="let term of terms">
        <td>
          {{term.term}}
        </td>
        <td>
            {{term.strength}}
        </td>
      </tr>
    </table>
  </div>
</div>